@model CAC.PIV.Client.Models.Menu

<footer class="container">
    <hr />
    <p><a href="http://gouv.qc.ca/" target="_blank"><img src="logo_qc.cac.png" alt="Gouvernement du Québec"></a></p>
    <p><a href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank" class="copyright">© Gouvernement du Québec, @DateTime.Now.Year</a></p>
</footer>
