/*====================================================================================================*/
/*  -00- Variables
/* ---------------------------------------------------------------------------------------------------*/
/*  -01- Général                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -02- Particularités de taille/positionnement  TODO vérifier si possible de généraliser
/* ---------------------------------------------------------------------------------------------------*/
/*  -03- Boutons                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -20- Page de confirmation
/* ---------------------------------------------------------------------------------------------------*/
/*  -98- Redéfinitions Bootstrap
/* ---------------------------------------------------------------------------------------------------*/
/*  -99- À Positionner
/*====================================================================================================*/



/*====================================================================================================*/
/*  -00- Variables
/*====================================================================================================*/
:root {
    --couleur-fond-gris: #F2F1F1;
    --couleur-piv: #095797;
    --couleur-liens: #095797;
    --couleur-spinner: #1073E6;
    --couleur-bouton-primaire: #095797;
    --couleur-saumon: #F09686;
    --couleur-texte-base: #223654;
    --couleur-erreur: #C20503;
    --couleur-succes: #2e7d32;
    --couleur-avertissement: #ffcc00;
    --couleur-fond-fenetres-messages: #D9E6F0;
    --couleur-fond-message-information: #D9E6F0;
    --couleur-fond-message-avertissement: #F8E69A;
    --couleur-fond-message-nouveaute: #C0DC9F;
    --couleur-fond-message-erreur: #EDB9B0;
    --couleur-filet-secondaire: #c5cad2;
}


/*====================================================================================================*/
/*  -01- Général
/*====================================================================================================*/
body {
    background-color: #3C3C3C;
}

.section-enregistrement, .section-soumission{
    padding: 20px;
    background-color: #fff;
}

.section-enregistrement {
    margin-bottom: 20px;
}


.section-soumission {
    margin-top: 20px;
}

.section-enregistrement .icone {
    margin-right: 20px;
}

.section-enregistrement .icone img {
    height: 45px;
    width: 45px;
}

/* Fond du viewer */
.conteneur-principal {
    display: flex;
}
.conteneur-pdf {
    background-color: #D0D4E4;
    border: 2px solid black;
}

.section-soumission {
    text-align: center;
    font-family:Arial;
    padding:20px 10px 10px 10px;
}

.message-soumission{
    padding: 0 10px 20px 10px;
}

/* Focus sur les contrôles */
input:focus, textarea:focus {
    border: 1px solid #80bdff !important;
}

input[maxlength="16"]:focus {
    width: 200px !important;
}

input[maxlength="12"]:focus {
    width: 152px !important;
}

input[maxlength="10"]:focus {
    width: 124px !important;
}

input[maxlength="8"]:focus {
    width: 92px !important;
}

input[maxlength="6"]:focus {
    width: 68px !important;
}

/* À revérifier cause problème fond blanc par dessus les bordures... à voir...
input:not(.comb) {
    background-color: #fff !important;
}*/

input, textarea {
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*    width:5px;*/
    color: transparent;
    cursor: default;
}

textarea {
    background-color: #fff;
}

/*====================================================================================================*/
/*  -02- Particularités de taille/positionnement  TODO vérifier si possible de généraliser
/*====================================================================================================*/

/* ======  */

#E1_CP12:focus, #E2_CP12:focus, #E3_CP12:focus {
    width: 140px !important;
}

#E1_NAM:focus, #E2_NAM:focus, #E3_NAM:focus {
    width: 144px !important;
}

#NomsChambreursEtude, #NomsChambreursEtudeC {
    height: 27px !important;
    margin-top: 2px !important;
}

#SommeAideEtude, #SommeAideEtudeC, #AutrePensionEtude {
    height: 27px !important;
}


input[name^="Nom"], input[name^="Prenom"], input[name$="Nom"], input[name$="Prenom"],
input[name$="NomPere"], input[name$="PrenomPere"], input[name$="NomMere"], input[name$="PrenomMere"] {
    background-color: #fff;
    width: 98% !important;
    height: 98% !important;
    margin-left: 2px !important;
}

/*====================================================================================================*/
/*  -03- Boutons
/*====================================================================================================*/
.btn-defaut {
    background-color: #eee;
    border: 1px solid #bdbdbd;
}

.btn.btn-primaire {
    background-color: var(--couleur-bouton-primaire);
    color: #fff;
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 7px #c4c8ce;
    border: 3px solid var(--couleur-bouton-primaire);
}

.btn.btn-primaire:not([disabled]):focus, .btn.btn-primaire:not([disabled]):hover {
    background-color: #156bb2;
    border: 3px solid #156bb2;
    box-shadow: 0.1rem 0.1rem 7px #c4c8ce !important;
    text-decoration: underline;
}

.btn.btn-primaire:not([disabled]):focus, .btn.btn-secondaire:not([disabled]):focus {
    border: 3px solid var(--couleur-texte-base);
}

.btn.btn-secondaire {
    background-color: #fff;
    border: 2px solid var(--couleur-bouton-primaire);
    color: var(--couleur-bouton-primaire);
    font-weight: bold;
    box-shadow: none;
}

.btn.btn-secondaire:hover, .btn.btn-secondaire:focus {
    text-decoration: underline;
}

.btn-defaut:disabled:hover, .btn.btn-primaire:disabled:hover, .btn.btn-secondaire:disabled:hover {
    cursor: not-allowed;
}

.btn-primaire .spinner {
    color: #fff;
}

/* Pas de souligné pour les icônes FontAwesome (ex. si dans un lien ou un hyperlien) */
.btn:focus .fas:before, .btn:hover .fas:before {
    display: inline-block;
    text-decoration: none !important;
}

/*====================================================================================================*/
/*  -20- Page de confirmation
/*====================================================================================================*/
.page-confirmation .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.page-confirmation main {
    height: 100vh;
    padding: 30px 15px;
}

.page-confirmation .menu {
    margin-top: 30px;
}

/*====================================================================================================*/
/*  -50- Messages
/*====================================================================================================*/

.message {
    display: flex;
    border: 1px solid var(--couleur-filet-secondaire);
    background-color: #fff;
}

    .message > * {
        padding: 1rem;
    }

    .message .entete .icone, .fenetre-message .icone {
        min-width: 32px;
        min-height: 32px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .message.inform .entete {
        background-color: var(--couleur-fond-message-information);
    }

        .message.inform .entete .icone, .fenetre-message.inform .icone {
            background-image: url(ico-information.cac.svg);
        }

    .message.averti .entete {
        background-color: var(--couleur-fond-message-avertissement);
    }

        .message.averti .entete .icone, .fenetre-message.averti .icone {
            background-image: url(ico-avertissement.cac.svg);
        }

    .message.succes .entete {
        background-color: var(--couleur-fond-message-nouveaute);
    }

        .message.succes .entete .icone, .fenetre-message.succes .icone {
            background-image: url(ico-succes.cac.svg);
        }

    .message.erreur .entete {
        background-color: var(--couleur-fond-message-erreur);
    }

        .message.erreur .entete .icone, .fenetre-message.erreur .icone {
            background-image: url(ico-erreur.cac.svg);
        }


.message .titre {
    padding: 0;
    line-height: inherit;
    font-weight: 600;
}

    .message .contenu :last-child {
        margin-bottom: 0;
    }
/* Version mobile */
@media (max-width: 575px) {
    .message > * {
        padding: 10px;
    }
}

/*====================================================================================================*/
/*  -52- Spinner
/*====================================================================================================*/
.spinner-border {
    color: #fff;
}

#chargementEnCours {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
}
#chargementEnCours .spinner-border {
    color: #fff;
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

/*====================================================================================================*/
/*  -86- Fenêtres de message
/*====================================================================================================*/

/* Désactiver le scroll du body quand une fenêtre de message est ouverte (a été combiné avec du javacript pour empêcher le scroll top à la fermture du modal. Voir xxx */
.modal-open {
    width: 100%;
}

.modal-open footer .infos-developpeurs {
    display: none;
}


/* Redéfinition de css Bootsrap en lien avec les modals (nos modals, i.e. ceux avec la classe 'fenetre-message' */
.fenetre-message.modal h1 {
    margin-top: 0;
    font-size: 1.4rem;
}

.fenetre-message.modal .icone {
    font-size: 2rem;
}

.fenetre-message.modal p:last-of-type {
    margin-bottom: 0;
}

.fenetre-message.modal .modal-content {
    padding: 1rem;
}

.fenetre-message.modal .modal-header {
    border: 0;
    padding: 0;
}

.fenetre-message.modal .modal-title {
    line-height: 1;
}

.fenetre-message.modal .modal-body {
    padding: 0;
    margin: 1rem 0;
}

.fenetre-message.modal .modal-footer {
    padding: 0;
    margin-top: 1rem;
    border-top: 0;
}

/*====================================================================================================*/
/*  -98- Redéfinitions Bootstrap
/*====================================================================================================*/
@media (max-width: 425px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

h1 {
    margin-bottom: 2rem;
}

    h1 img {
        margin-right: 5px;
    }

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--couleur-texte-base);
}

h3 {
    font-family: 'Roboto-Medium', sans-serif;
}

figure {
    margin: 0 0 0.5rem;
}

figure.image img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: var(--couleur-liens);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.card.shadow-sm {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.15) !important;
}

.card-title {
    margin: 0;
}

.btn, .card, .form-control, .custom-select, .select2-container--bootstrap4 .select2-selection {
    border-radius: 0; /* pas de bouton, de champs et de cards avec coins arrondis dans ECS... */
}

.btn {
    line-height: 1rem;
}

/* Liens affichés comme boutons */
a.btn {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

    /* Boutons */
    button:not(.btn-sm), input.btn:not(.btn-sm), a.btn:not(.btn-sm) {
        min-height: 44px;
        min-width: 44px;
        padding-top: 0;
        padding-bottom: 0;
    }

label {
    margin-bottom: .2rem;
}

.text-danger {
    color: var(--couleur-erreur) !important;
}

/* Coins carré pour les modals */
.modal-content {
    border-radius: 0;
}

/*X du bouton fermer modal plus gros*/
.modal-header .close {
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
}

/* Contrôle switch large (N'existe pas dans BS) */
.custom-switch.lg {
    padding-left: 2.75rem;
}

    .custom-switch.lg .custom-control-label::before {
        cursor: pointer;
        left: -2.75rem;
        width: 2.25rem;
        height: 1.25rem;
        border-radius: 0.6rem;
        top: 0;
    }

    .custom-switch.lg .custom-control-label::after {
        cursor: pointer;
        top: 2px;
        left: calc(-2.75rem + 4px);
        width: calc(1.25rem - 4px);
        height: calc(1.25rem - 4px);
        background-color: #adb5bd;
        border-radius: 100%;
    }

/* Contrôles checkbox et radio large (N'existe pas dans BS) */
.custom-checkbox.lg, .custom-radio.lg {
    padding-left: 1.75rem;
}

    .custom-checkbox.lg .custom-control-label::before, .custom-radio.lg .custom-control-label::before {
        width: 1.25rem;
        height: 1.25rem;
        left: -1.75rem;
        top: -0.1rem;
    }

    .custom-checkbox.lg .custom-control-label::after, .custom-radio.lg .custom-control-label::after {
        top: -0.1rem;
        left: -1.75rem;
        width: 1.25rem;
        height: 1.25rem;
    }

/*====================================================================================================*/
/*  -99- À positionner
/*====================================================================================================*/
/* Indicateurs champs obligatoires */
.icone-champ-requis {
    vertical-align: top;
    font-weight: bold;
}


.info-attendue {
    font-size: 0.8rem;
    margin-left: 5px;
}
.texte-explicatif-champs-obligatoires {
    margin-bottom: 15px;
}

.texte-explicatif-champs-obligatoires .icone-champ-requis {
    margin-right: 5px;
}

.icone-champ-requis, .texte-explicatif-champs-obligatoires {
    color: var(--couleur-erreur);
}